<%= form_with(model: truck) do |form| %>
  <% if truck.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(truck.errors.count, "error") %> prohibited this truck from being saved:</h2>

      <ul>
        <% truck.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :site_id, "Site", style: "display: block" %>
    <%= form.collection_select :site_id, sites, :id, :name, { prompt: "Select a site", include_blank: "No site" }, {} %>
  </div>

  <div>
    <%= form.label :min_temp, "Min Temperature (°C)", style: "display: block" %>
    <%= form.number_field :min_temp, step: 0.1 %>
  </div>

  <div>
    <%= form.label :max_temp, "Max Temperature (°C)", style: "display: block" %>
    <%= form.number_field :max_temp, step: 0.1 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
