<h1>Your Trucks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <% @trucks.each do |truck| %>
    <tr>
      <td><%= truck.name %></td>
      <td><%= truck.status.presence || "OK" %></td>
      <td>
        <%= button_to "Send test alert",
                      send_test_alert_truck_path(truck),
                      method: :post %>
        <%= button_to "Delete",
                      truck_path(truck),
                      method: :delete,
                      data: { turbo_confirm: "Delete this truck?" } %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New truck", new_truck_path %></p>
